<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>01-v-for遍历数组</title>
	<script src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<h2>{{msg}}</h2>
		
		<!-- 1.在遍历的过程中没有使用索引值 -->
		<ul>
			<li v-for="name in names">{{name}}</li>
		</ul>
		
		<!-- 2.在遍历的过程中使用索引值 -->
		<ul>
			<li v-for="(name,index) in names">
				{{index+1}}.{{name}}
			</li>
		</ul>
		
		
	</div>
</body>
<script type="text/javascript">
	const app = new Vue({
		el: '#app',
		data: {
			msg: "Hello",
			names: [
				'a','b','c'
			]
		}
	});
</script>
</html>
